.page-home {

  .container-header {
    .banner-container {
      position: relative;
      display: inline-block;
    }

    .banner-container:before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background: radial-gradient(ellipse 60% 60%, transparent, black);
    }

    .logo {
      position: absolute;
      top: -120px;

      @media (max-width: $screen-xs-max) {
        position: relative;
        top: -20px;
      }
    }

    .image-album {
      width: 120px;
      margin: -10px auto 0 auto;

      @media (max-width: $screen-xs-max) {
        width: 40%;
        margin: -5% auto 0 auto;
      }
    }
  }

  .container-main {
    margin-top: 60px;

    @media (max-width: $screen-md-max) {
      margin-top: 30px;
    }

    .biography {
      font-weight: 300;
      font-style: normal;
      letter-spacing: 1px;

      strong {
        font-weight: 600;
      }
    }

    .tour-dates {
      padding: 0 0 30px 0;

      .bit-header {
        display: none !important;
      }
    }

    .social-icons {
      list-style: none;
      padding: 10px 0 0 0;

      @media (max-width: $screen-xs-max) {
        text-align: center;
      }

      li {
        display: inline-block;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .video {
      padding: 20px 0;
    }

    .img-link {
      width: 160px;

      &.the-strange {
        width: 100px;
      }
    }
  }

}
