body {
  background-color: black;
  color: #b1b1b1;
}

strong {
  color: white;
}

a.link {
  color: white;
  border-bottom: 1px solid white;
  padding: 1px;
  text-decoration: none;

  &:hover {
    color: white !important;
  }
}
